body {
  width: 550px;
  margin: 0px auto;
  color: gray;
  letter-spacing: 1.5px;
}

h1 {
  width: 100%;
  margin: 75px 0px 30px 0px;
  letter-spacing: 4px;
  text-align: center;
  font-size: 28px;
  background: linear-gradient(to right, black, whitesmoke 50%, gray 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1s ease;
}

h1:hover {
  background-position: 0 100%;
}

.minesweeper > p {
  width: 100%;
  font-size: 14px;
  margin: 5px 0px;
  text-align: center;
}

.minesweeper > p:last-of-type {
  margin-bottom: 30px;
}

#board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px outset whitesmoke;
  background-color: lightgray;
  font-size: 15px;
  text-align: center;
  line-height: 42px;
}

.revealed, .bombed {
  border-style: inset;
}

.modal {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
}

.modal-form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  width: 350px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 5px;
}

#game-over-msg {
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 70px 50px 30px;
}

#replay {
  display: block;
  margin: 20px auto;
  padding: 6px 8px;
  font-size: 12px;
  color: rgb(104, 104, 104);
  letter-spacing: 0.5px;
  border: 1px solid gray;
  border-radius: 3px;
}

#replay:hover {
  color: rgb(80, 80, 80);
  background-color: rgb(222, 222, 222);
  border: 1px solid gray;
  transition: all 0.2s;
}

.is-open {
  display: block;
}

.tile:hover:not(.revealed) {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

#replay:hover {
  cursor: pointer;
}